h1 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header > h1 {
	font-weight: 400;
}

header {
	margin: 0 3rem;
	display: flex;
	justify-content: space-between;
}
li {
	list-style: none;
	font-size: 1.5rem;
}
nav {
	width: 22rem;
	position: relative;
	top: 1rem;
}
ul {
	display: flex;
	justify-content: space-between;
}
.showCaseImg {
	width: 95vw;
	margin: 1rem;
}
.container {
	text-align: center;
}
article {
	display: flex;
}
footer {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	height: 3rem;
	font-size: 2rem;
	align-items: center;
}
a {
	text-decoration: none;
}
a:hover {
	color: red;
}
.container > h1:hover {
	color: green;
}
